

/* fonts etc*/
* {
  box-sizing: border-box;
  font-family: 'Lato';
}

body {
  margin: 0;
}

/*mainpage*/
h1 {
  color:white;
  font: 'Lato';
  text-align: center;
}

h2 {
  color: black;
  font: 'Lato';
  text-align: left;
}

h3 {
  color:white;
  font: 'Lato';
  text-align: center;
}

h4 {
  color: black;
  font: 'Lato';
  text-align: left;
}

.centre {
  display: block;
  margin-left: 48%;
  margin-right: auto;
}

/*content*/
.center {
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*nav assets*/
.nav {
  overflow: hidden;
  background-color: #ff1616;
}

/*nav link assets*/
.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: centre;
  padding: 14px 16px;
  text-decoration: none;
}

/*nav hover*/
.nav a:hover {
background-color:#ff1616;
opacity: 0.5%;
}

.content a {
  color: #ff1616;
  text-decoration: none;
}


/*welcome*/
.welcome {
  background-image: url("image1.jpg");
  left: 0px;
  right: 0px;
  padding: 200px;
}

/*contentmainpage*/
.content {
  background-color: white;
  padding: 100px;
  margin: 0px;
}

/*packagecontent*/
.packagecontent {
  background-color: black;
  padding: 100px;
  margin: auto;
  align: center;
  display:inline-block;
}


/*footer assets*/
.footer {
background-color: #ff1616;
padding: 10px;
left: 0px;
right: 0px;
margin:0px;
}

/* rounded corners for boxes*/
.roundedcorners {
margin: auto;
width: 50%;
border-radius: 25px;
background: #ff1616;
opacity: 0.9;
padding: 50px;
width: 400px;
height: 200px;
}


/*stories page*/
.imgcontent {
  background-image: url("image3.jpg");
  left: 0px;
  right: 0px;
  padding: 100px;
}

/*white container*/
.storycontent {
  background-color: white;
  display: inline-block;
  padding: 70px;
  margin: 0px;
}

/*contact*/
.contact {
  background-image: url("image6.jpg");
  left: 0px;
  right: 0px;
  padding: 100px;
}

/* contactcontainer*/
.contactcontainer {
margin: auto;
width: 50%;
border-radius: 25px;
background: #ff1616;
opacity: 0.9;
padding: 50px;
width: 400px;
height: 300px;
}

/*packageformcontent*/
.package {
  background-image: url("image2.jpg");
  left: 0px;
  right: 0px;
  padding: 100px;
}

/*contact footer assets*/
.footerc {
background-color: #ff1616;
padding: 100px;
left: 0px;
right: 0px;
margin:0px;
}

/* copied from previous push - package form*/
/* form type text assets*/
input[type=text], select {
  width: 90%;
  padding: 10px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #f8f6f6;
  border-radius: 5px;
  box-sizing:border-box;
}

/* form type submit assets*/
input[type=submit] {
  float: right;
  width: 30%;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* form type hover assets*/
input[type=submit]:hover {
  background-color: lightblue;
}

.formcontainer {
margin: auto;
width: 50%;
border-radius: 25px;
background: #ff1616;
opacity: 0.9;
padding: 10px;
width: 300px;
height: 400px;
}
