

/* fonts etc*/
* {
  box-sizing: border-box;
  font-family: Lato;
}

body {
  margin: 0;
  font-family: Lato; 
}

ul {
  list-style: none;
  text-align: center;
}

/*nav assets*/
.nav {
  overflow: hidden;
  background-color: #ff1616;
}
/*signup, background image plus border, signup*/
.signup {
  background-image: url("image1.jpg");
  padding: 100px;
}

/*footer assets*/
.footer {
background-color: #ff1616;
padding: 50px;
}

/* rounded corners for boxes*/
.roundedcorners {
margin: auto;
width: 50%;
border-radius: 25px;
background: #ff1616;
opacity: 0.7;
padding: 10px;
width: 370px;
height: 400px;
}
