

/* fonts etc*/
* {
  box-sizing: border-box;
  font-family: 'Lato';
}

body {
  margin: 0;
}

/*mainpage*/
h1 {
  color:white;
  font: 'Lato';
  text-align: center;
}

h3 {
  color:white;
  font: 'Lato';
  text-align: center;
}

/*nav assets*/
.nav {
  overflow: hidden;
  background-color: #ff1616;
}

/*nav link assets*/
.nav a {
  float: left;
  display: block;
  color: #ff1616;
  text-align: centre;
  padding: 14px 16px;
  text-decoration: none;
}


/*welcome*/
.welcome {
  background-image: url("image1.jpg");
  padding: 200px;
}

/*contentmainpage*/
.content {
  background-color: white;
  padding: 100px;
}

/*footer assets*/
.footer {
background-color: #ff1616;
padding: 10px;
left: 0px;
right: 0px;
margin:0px;
}

/* rounded corners for boxes*/
.roundedcorners {
margin: auto;
width: 50%;
border-radius: 25px;
background: #ff1616;
opacity: 0.9;
padding: 50px;
width: 400px;
height: 200px;
}
